h1 this is artwork
#artwork(ng-controller='ArtworkController as artwork' class="container")
    .row
        img.img-responsive.center-block.thumbnail.col-md-4(ng-repeat='image in artwork.images' src="{{ image }}")