.artwork(ng-controller='ArtworkController as artwork' class="container")
    .row
        .col-xs-3(ng-repeat='image in artwork.images')
            .artwork-tile
                a(href='{{ image.url }}', target='_')
                    img(ng-src='{{ image.url }}')
            h4.text-center {{ image.id }}