.edit-videos(ng-controller='VideosController as videos')
    .form-horizontal
        .record.row(ng-repeat='video in videos.videos')
            .form-group
                label.control-label.col-sm-2 Order
                .col-sm-2
                    input.form-control(type='text', ng-model='videos.videos[$index].order')
                label.control-label.col-sm-2 URL
                .col-sm-5
                    input.form-control(type='text', ng-model='videos.videos[$index].url')
            .form-group
                .text-center
                    iframe.youtube-player(ng-src='{{ videos.videos[$index].url | trusted }}', allowfullscreen, frameborder='0')