doctype html
html(ng-app='pmgRecords')
    head
        link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
        script(type='text/javascript', src='bower_components/angular/angular.min.js')
        script(type='text/javascript', src='bower_components/angular-sanitize/angular-sanitize.min.js')
        script(type='text/javascript', src='bower_components/angular-animate/angular-animate.min.js')
        script(type='text/javascript', src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
        script(type='text/javascript', src='src/js/module.js')
    body
        .well
            h1 {{ title }}
            input(type='text/javascript', ng-model='title')