doctype html
html(ng-app='PMG Records')
    head
        title PMG Records
        base(href='/')
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1')
        link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/default.css')
        script(type='text/javascript', src='bower_components/angular/angular.min.js')
        script(type='text/javascript', src='bower_components/angular-route/angular-route.min.js')
        script(type='text/javascript', src='bower_components/angular-animate/angular-animate.min.js')
        script(type='text/javascript', src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
        script(type='text/javascript', src='js/module.js')
        script(type='text/javascript', src='js/config.js')
        script(type='text/javascript', src='js/site.controller.js')
        script(type='text/javascript', src='js/landing.controller.js')
        script(type='text/javascript', src='js/artwork.controller.js')
        script(type='text/javascript', src='js/videos.controller.js')
        script(type='text/javascript', src='js/music.controller.js')
        script(type='text/javascript', src='js/store.controller.js')
        script(type='text/javascript', src='js/event.controller.js')
        script(type='text/javascript', src='js/trusted.filter.js')

    body(ng-app='PMG Records', ng-controller='SiteController as site')
        nav.menu.navbar.navbar-inverse.navbar-fixed-top(role='navigation', ng-show='site.showNavigation')
            .navbar-header
                button.navbar-toggle(type='button', ng-init='navCollapsed = true', ng-click='navCollapsed = !navCollapsed')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/home', ng-class='{ "active": site.isActive("/home") }')
                    img(src='images/navbar-brand.jpg')
            .collapse.navbar-collapse(ng-class='{ in : !navCollapsed }', ng-click='navCollapsed=true')
                ul.nav.navbar-nav
                    li(ng-repeat='item in site.mainMenu', ng-class='{ "active": site.isActive("/{{ item.url }}")}')
                        a(href='/{{ item.url }}') {{ item.name }}
        .container-fluid
            ng-view


