.videos(ng-controller='VideosController as videos')
    .row
        .col-lg-3.col-md-4.col-xs-6.video-tile-container(ng-repeat='video in videos.videos')
            .video-tile
                iframe.youtube-player(ng-src='{{ video.url | trusted }}', allowfullscreen, frameborder='0')