$gold: #DEAD42;
$gray: #B6BAB2;

h1, h2, h3, h4, a {
  color: $gold;
}

body {
  background-color: black;
  color: $gray;
  padding: 60px 30px 30px 30px;
}

.artwork-tile {
  text-align: center;

  img {
    height: 180px;
  }
}

.navbar-brand img {
  width: 172px;
}

.landing {
  a {
    text-decoration: none;
    color: $gold;
  }

  img {
    width: 100%;
    max-width: 575px;
  }

  text-align: center;
}

.contact {
  p.contact-info {
    color: gray;
  }

  p.contact-info strong {
    color: black;
  }

  .contact-form-container {
    border-left: 1px solid black;
  }

  input, textarea {
    background-color: black;
    color: $gray;
  }
}

.store {
  .product-tile {
    border: 1px solid $gold;
    width: 120px;
    height: 180px;
    transition: all 1s;
    background-color: black;
  }

  .product-tile:hover {
    transform: scale(1.4);
  }

  .product-tile-container {
    margin-bottom: 40px;
  }
}