$gold: #DEAD42;
$gray: #B6BAB2;

body {
  background-color: black;
  color: $gray;
  padding: 60px 30px 30px 30px;
}

.artwork-tile {
  text-align: center;

  img {
    height: 180px;
  }
}


.landing {
  a {
    text-decoration: none;
    color: $gold;
  }

  img {
    width: 100%;
    max-width: 340px;
  }

  text-align: center;
}